<div class="p-3 footerStyle text-light">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <div class="col  order-last order-md-first text-md-start">

                <div class="row">
                    <div class="col-12 ">
                        <span class="me-1">Built By</span><span><img src="/images/final.png" height="30" /></span>
                    </div>
                    <div class="col-12 small">
                        &copy; 2024 by Myaris Stylianos. 
                    </div>
                </div>

            </div>

            <div class="col d-flex align-items-center justify-content-center">
                <img src="/images/final.png" height="50" />
            </div>
            <div class="col  d-flex flex-column align-items-center justify-content-center text-md-end">
                <div class="row">
                    <div class="col-12">
                        <a href="#"><i class="bi bi-youtube"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                    </div>
                    <div class="col-12 small">
                        <a href="#">Portfolio</a>
                        &bull;
                        <a href="#">Blog</a>
                        &bull;
                        <a href="#">Bug Tracker</a>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>

@code {

}
