.footerStyle[b-6v9uw04pdi]{
    background-color: var(--cf-theme-900);
}

.footerStyle a[b-6v9uw04pdi]{
    color: var(--cf-theme-200);
}

.footerStyle a:hover[b-6v9uw04pdi]{
    color: var(--cf-theme-core);
}

.bi[b-6v9uw04pdi] {
    font-size: 1.5rem;
    padding-inline-start: 0.5rem;
}
